# Server
PORT=4000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://postgres:tITKIoRc6NGRNbJ3@db.xlecrxkewfzoufsabbiw.supabase.co:5432/postgres

# Redis
REDIS_URL=redis://localhost:6379

# S3-compatible storage (Supabase)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=dda937fc8e4f1c21d04ae7e6903ad95f
AWS_SECRET_ACCESS_KEY=07995b4cd146d5fb5130981d7cc7c72a30b83147001b49bffb6bae57fecddb4e
S3_BUCKET=streams
S3_ENDPOINT=https://xlecrxkewfzoufsabbiw.storage.supabase.co/storage/v1/s3
S3_FORCE_PATH_STYLE=true
S3_PUBLIC_URL=https://xlecrxkewfzoufsabbiw.storage.supabase.co/storage/v1/s3/streams

# CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
