*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f1f1f1;
  background-color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #3ea6ff;
  text-decoration: none;
}
